#diary {
    position: absolute;
    left: 392px;
    top: 548px;
    width: 54px;
    height: 54px;
}

#green {
    position: absolute;
    left: 560px;
    top: 560px;
    width: 54px;
    height: 54px;
}

/* …以下、全てのチェック位置を画像に合わせて配置 */
